<?php

use \Symfony\Component\DependencyInjection\Reference;
use \Symfony\Component\DependencyInjection\Parameter;

$container->setParameter('gdax.api_key', '');
$container->setParameter('gdax.api_secret', '');
$container->setParameter('gdax.passphrase', '');
$container->setParameter('gdax.api_url', \GDAX\Utilities\GDAXConstants::GDAX_API_SANDBOX_URL);
